
@font-face {
font-family: 'OpenDyslexic';
src:url(fonts/OpenDyslexic-Regular.otf);
}
@font-face {
    font-family: "OpenDyslexic";
    src: url("fonts/OpenDyslexic-Bold.otf");
    font-weight: bold;
}
@font-face {
    font-family: "DejaVu Sans";
    src: url("fonts/OpenDyslexic-Italic.otf");
    font-style: italic, oblique;
}
@font-face {
    font-family: "DejaVu Sans";
    src: url("fonts/OpenDyslexic-BoldItalic.otf");
    font-weight: bold;
    font-style: italic, oblique;
}

body {
font-size: 24px;
line-height: 160%;
font-family: 'OpenDyslexic';
}

p {
padding: 0;
margin: 0;
text-align: justify;
}

header + p:first-line {
text-transform: lowercase !important;
font-size: 26px;
}

p + p {
text-indent: 32px;
}

.decoration-rw {
text-align: center;
padding-top: 24px;
padding-bottom: 24px;
padding-left: 0em;
padding-right: 0em;
}

.copyright-rw {
font-size: 14px;
line-height: 24px;
text-align: left;
padding-top: 48px;
}

.copyright-rw p {
margin-bottom: 24px;
text-indent: 0;
}

.dedication-rw p {
text-align: center;
text-indent: 0;
}

.Dedication-rw {
margin-top: 72px;
}

.leading-line-rw {
height: 32px;
}

.fp-rw {
text-indent: 0;
}



h1 {
font-size: 36px;
line-height: 54px;
text-align: center;
padding-bottom: 0em;
text-align: center;
text-transform: uppercase;
font-weight: normal;
letter-spacing: 6px;
}

h2 {
text-align: center;
font-size: 32px;
line-height: 48px;
text-align: center;
padding-bottom: 0em;
text-align: center;
text-transform: uppercase;
font-weight: normal;
letter-spacing: 6px;
}

h3 {
text-align: center;
font-size: 24px;
line-height: 160%;;
text-align: center;
padding-bottom: 0em;
text-align: center;
text-transform: uppercase;
font-weight: bold;
letter-spacing: 6px;
font-style: italic;
}

.title-author-rw {
text-align: center;
font-size: 36px;
text-indent: 0;
}

.title-num-rw {
text-align: center;
font-size: 36px;
text-indent: 0;
margin-top: 24px;
margin-bottom: 24px;
}

.title-sub-rw {
text-align: center;
font-size: 36px;
text-indent: 0;
}

.imprint-rw {
text-align: center;
}

.extract-verse-rw {
margin-top: 32px;
margin-bottom: 32px;
padding-left: 20pt;
}

.extract-rw {
margin-top: 32px;
margin-bottom: 32px;
padding-left: 20pt;
}

.extract-verse-rw p {
text-align: left;
text-indent: -20pt;
margin-left: 20pt;
}

.epigraph-rw {
margin-top: 32px;
margin-bottom: 32px;
padding-left: 20pt;
padding-right: 20pt;
}

.sc-rw {
font-size: 75%;
}
.block-rw {
margin-top: 24px;
margin-bottom: 24px;
margin-left: 20pt;
margin-right: 20pt;
}

span.dropcap-rw {
float: left;
font-size: 65px;
line-height: 21px;
}


.signature-rw {
margin-left: 50%;
text-align: left;
text-indent: 0;
}

.AdCard-rw h4 {
text-align: center;
}

.AdCard-rw p {
text-align: center;
text-indent: 0;
}

.FrontSales-rw h4, .FrontSales-rw h2 {
text-align: center;
}

.FrontSales-rw p {
text-indent: 0;
}



/* NAVIGATION */

a {
color: black !important;
}

#toc ol {
list-style-type: none;
margin: 0 0 0 48px;
padding: 0 0 0 0;
}

#toc ol ol {
list-style-type: none;
margin: 0 0 0 24px;
padding: 0 0 0 0;
}





#toc ol li {
margin: 0 0 0 0;
padding: 0 0 0 0;
}

#toc ol li a {
text-decoration: none;
font-family: OpenDyslexic;
}

.toc-short ol li a {
text-decoration: none;
font-family: OpenDyslexic;
}


.toc-short ol {
list-style-type: none;
margin: 0 0 0 2em;
padding: 0 0 0 0;
}


#guide {
display: none;
}


header {
padding: 3em 0 2em 0;
}

header a {
text-decoration: none;
color: black;
}





.center {
text-align: center;
text-indent: 0;
}

img {
max-width: 100%;
max-height: 100%;
}



.title-other-rw {
text-align: center;
text-indent: 0;
margin-top: .5em;
}

.dateline-rw {
text-align: left;
text-indent: 0;
margin-top: 1.33em;
margin-bottom: 1.33em;
}


.frontmatter-rw h1 {
font-size: 1.5em;
}

.backmatter-rw h1 {
font-size: 1.5em;
}
   


   .direction-rw {
   text-align: center;
   text-indent: 0;
   font-style: italic;
   margin: 1em 0 1em 0;
   }

    .source-rw {
margin-bottom: 0em;
text-align: right !important;
font-variant: small-caps;
text-transform: lowercase;
font-size: 1.1em;
page-break-before: avoid;
}

div.block-rw {
border-top: 2px solid #EEE;
border-bottom: 2px solid #EEE;
padding: 6pt 0 6pt 0;
}

.list-simple-rw p {
text-indent: 0;
text-align: left;
}

.headline-rw p {
text-indent: 0;
text-align: center;
padding-top: 6px;
}

div.photo {
margin-top: 1em;
padding-top: 2em;
text-align: center;

}

div.photo p {
text-align: center;
padding: 6px;
font-style: italic;



}





.-epub-media-overlay-active {
    background-color: #abc;
}


@media all and (orientation:portrait) {
p { font-family: OpenDyslexic; }
}


@media all and (orientation:landscape) {
p { font-family: OpenDyslexic; }

}


